/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #5F44F6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap; /* Evita que los elementos se apilen */
    }
    
    .header-left h1 {
    color: white;
    margin: 0;
    font-size: 24px;
    }
    
    .header-left h2 {
    color: white;
    margin: 0;
    font-size: 16px;
    }
    
    .header-right {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
    }
    
    .login-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px; /* Espacio entre el botón y el contenido de la izquierda */
    }
    
    .login-btn:hover {
    background-color: #8470f5;
    }
    
    footer {
    background-color: #5F44F6;
    color: white;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }
    

/* Sección de puntos */
.points-section {
    background-color: #e0e0e0;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.points-section h3 {
    text-align: center;
    margin-bottom: 15px;
}

.points-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 15px;
}

.recalculate-btn {
    background-color: #5F44F6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Sección de filtro */
.filter-section {
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px;
    margin-bottom: 20px;
    
}

.filter-btn {
    background-color: #d3d3d3;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Sección de productos */
.products-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px 20px;
}

.product-item {
    background-color: #EDEDED;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-item img {
    width: 150px;
    border-radius: 10px;
}

.product-item p {
    margin: 10px 0;
    color: #333;
}

.product-item:hover {
    transform: scale(1.05);
}

.general{
    background-color: #D1C7C7;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.buttons{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 100%;
}

.siguiente{
    align-self: flex-end; 
    background-color: #d3d3d3;
    color: black;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.anterior{
    align-self: flex-start; 
    background-color: #d3d3d3;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}