body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}



.header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 0 8px 8px;
}


header {
background-color: #5F44F6;
color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
flex-wrap: nowrap; /* Evita que los elementos se apilen */
}

.header-left h1 {
color: white;
margin: 0;
font-size: 24px;
}

.header-left h2 {
color: white;
margin: 0;
font-size: 16px;
}

.header-right {
display: flex;
align-items: center;
white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
}

.login-btn {
padding: 10px 20px;
background-color: transparent;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin-left: 20px; /* Espacio entre el botón y el contenido de la izquierda */
}

.login-btn:hover {
background-color: #8470f5;
}

footer {
background-color: #5F44F6;
color: white;
padding: 10px;
margin-top: auto;
text-align: center;
box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 10px;
}

.botonInicio{
    display: flex;
    justify-content: center;
}
.iniciarSesion {
    padding: 10px 20px;
    background-color: #5F44F6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    }
    
.iniciarSesion:hover {
    background-color: #8470f5;
}

.main-content-div {
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    width: 70%;
    text-align: justify;
}

.contribution-div {
    color: white;
    background-color: #5F44F6;
    border-radius: 40px;
    margin: 20px 0;
    display: flex;
    padding: 5px;
}

.contribution-icon {
    width: 89px;
    height: 50px;
    border-right: white 3px solid;
}

.contribution-div span {
    margin: auto 20px;
    text-align: left;
}

#button {
    background-color: #5F44F6;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

.botonRecomendar{
    display: flex;
    justify-content: center;
}

.input-container input{
    border-radius: 25px;
    width: auto;
    background-color: #E8E6F2;
    padding: 10px 20px;
    }