.main-content h3 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.main-content-text {
    margin-bottom: 25px;
    text-align: left;
}

form {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    min-width: 100%;
}

.grid-item .grid-label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.grid-item input,
.grid-item select,
.grid-item textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #D9D9D9;
    box-sizing: border-box;
}

.grid-item.full-width {
    grid-column: 1 / -1;
}

.grid-item textarea {
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    resize: none;
}

#upload-area {
    background-color: #D9D9D9;
    border-radius: 2%;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    align-items: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#upload-area div {
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
    padding: 10px;
}

.csv-image {
    fill: white;
    width: 120px;
}

#file-input {
    display: none;
}

#button {
    background-color: #5F44F6;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

#file-list {
    width: 70%;
    display: none;
}

#file-list-container {
    list-style-type: none;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0 0 20px 0;
}

#file-list-container li {
    border-radius: 5px;
    background-color: #bdaeae;
    padding: 10px;
}