.main-content {
    background-color: #D1C7C7;
    border-radius: 40px;
    width: 70%;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-div {
    width: 70%;
    text-align: justify;

}

.main-content h3 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.main-content-text {
    margin-bottom: 25px;
    text-align: left;
}

.upload-area {
    background-color: #D9D9D9;
    border-radius: 40px;
    width: 80%;
    height: 40%;
    padding: 35px 0 30px 0;
    margin-bottom: 20px;
    border: rgb(100, 91, 91) 1px dashed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upload-area div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
    padding: 10px;
}

.csv-image {
    fill: white;
    width: 120px;
}

#csv-button {
    background-color: #5F44F6;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

#file-input {
    display: none;
}

#file-list {
    width: 80%;
    display: none;

}

#file-list-container {
    list-style-type: none;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0;
    margin: 0 0 20px 0;
}

#file-list-container li {
    border-radius: 5px;
    background-color: #bdaeae;
    padding: 10px;
}