.main-content {
    min-height: 100px;
    overflow: hidden;
}

.main-content h3 {
    text-align: center;
    margin: 20px 0 px 0;
    font-size: 20px;
}

.main-content div {
    background-color: #D1C7C7;
    border-radius: 40px;
    width: 85%;
}

form {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    min-width: 100%;
}

.grid-item .grid-label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.grid-item input,
.grid-item select {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #D9D9D9;
}

.grid-item .grid-radio {
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    width: 100px;
    display: flex;
    overflow: hidden;
}

.grid-radio-input {
    display: none;
}

.grid-radio-label {
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.grid-radio-label:first-of-type {
    border-right: 3px solid #a08989;
}

#button {
    background-color: #5F44F6;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

#button-child {
    background-color: #a08989;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}